{% extends 'headfooter.html' %}
{% block content %}
{% load staticfiles %}

    <section>
              <div class="main-banner" style="background-image:url({% static 'img/sai2.jpg' %});">
			<div class="container">
                <div class="row">
				<div class="col-md-12 col-sm-12">

					<form action="{% url 'profile' %}" method="post">
						{% csrf_token %}
						<fieldset class="home-form-1 icon-field">
						
							<div style="padding-right: 10px;" class="col-md-offset-1 col-md-2 col-sm-2">
								<div class="form-group">
									<div class="icon-addon addon-lg">
                                         <label>&nbsp;Gender</label>
										<select class="wide form-control" name="gender">
											<option data-display="Select"></option>
											<option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Others">Others</option>
										</select>
									</div>
								</div>
							</div>
                            
                         <div style="padding-left: 10px;padding-right: 10px;" class="col-md-2 col-sm-2">
								<div class="form-group">
									<div class="icon-addon addon-lg">
                                    <label>&nbsp;Age</label>

                                            <select class="wide form-control" name="agee">
                                                <option data-display="Select"></option>
                                               {% for x in sa %}
												<option value="{{x.id}}">{{x.age}}</option>
												{% endfor %}
                                            </select>
									</div>
								</div>
							</div>
							
								
							<div style="padding-left: 10px;padding-right: 10px;" class="col-md-2 col-sm-2">
								<div class="form-group">
									<div class="icon-addon addon-lg">
                                         <label>&nbsp;State</label>
										<select class="wide form-control" name="state11"> #views name
											<option data-display="Select"></option>
											{% for x in sst %}
											<option value="{{x.id}}">{{x.state1}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							
									<div style="padding-left: 10px;padding-right: 10px;" class="col-md-2 col-sm-2">
								<div class="form-group">
									<div class="icon-addon addon-lg">
                                         <label>&nbsp;City</label>
										<input type="text" placeholder="Enter City name.." class="wide form-control" name="cityname1">
<!--										<select class="wide form-control">-->
<!--											<option value="1">Karimnagar</option>-->
<!--                                            <option value="1">Hyderabad</option>-->
<!--                                            <option value="1">Khammam</option>-->
<!--                                            <option value="1">Rangareddy</option>-->
<!--                                            <option value="1">Adilabad</option>-->
<!--                                            -->
<!--										</select>-->
									</div>
								</div>
							</div>
							<div style="padding-left: 10px;" class="col-md-2 col-sm-2 ">
<!--								<a href="" style="margin-top: 28px;" type="submit" class="btn theme-btn cl-white seub-btn">Search</a>-->
							<br><input type="submit" value="SEARCH" class="btn theme-btn cl-white seub-btn"></div>
								
						</fieldset>
					</form>
					
					
					
				</div>
                </div>
			</div>
		</div>
		<!-- ======================= End Banner ===================== -->
		
		<!-- ====================== Advance Features ================= -->
                            
                            
         
                            
                            <section class="why_choose_us">
			<div class="container">
				
				<div class="row aos-init aos-animate" data-aos="fade-up">
					<div class="col-md-12">
						<div class="heading">
							<h2>Find your Special Someone</h2>
						</div>
					</div>
				</div>
				
				<div class="row">
				
					<div class="col-md-4 col-sm-4">
						<div class="work-process step-2">
							<span class="process-icon">
								<i class="fa"><img src="{% static 'img/user1.png' %}"></i>
								<span class="process-count cl-white">1</span>
							</span>
							<h4>Sign up</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
                        
					</div>
					
					<div class="col-md-4 col-sm-4">
						
                        <div class="work-process">
							<span class="process-icon">
								<i class="fa"><img style="width: 50px;" src="{% static 'img/user2.png' %}"></i>
								<span class="process-count cl-white">2</span>
							</span>
							<h4>Connect</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4">
						<div class="work-process step-3">
							<span class="process-icon">
								<i class="fa"><img style="width: 50px;" src="{% static 'img/user3.png' %}"></i>
								<span class="process-count cl-white">3</span>
							</span>
							<h4>Interact</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
					
				</div>
				
			</div>
		</section>
                    {% endblock %}
   
